vcpkg
Bank-Finance-Calculator-Demo/Bank-Finance-Calculator-Demo/.vs
Bank-Finance-Calculator-Demo/Bank-Finance-Calculator-Demo/x64
Bank-Finance-Calculator-Demo/Bank-Finance-Calculator-Demo/Bank-Finance-Calculator-Demo/x64